.header {
    background: black;
    text-align: center;
    color: salmon;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    background-color: salmon;
    text-align: left;
}